<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC437_T9w1gXcEzorZVGxqvP4WTsxKMlo0</string>
	<key>GCM_SENDER_ID</key>
	<string>1001352025860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.youths.empireCharme</string>
	<key>PROJECT_ID</key>
	<string>empirecharme</string>
	<key>STORAGE_BUCKET</key>
	<string>empirecharme.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001352025860:ios:db2a20f9e4865a0f192251</string>
</dict>
</plist>